<a href="https://colab.research.google.com/github/laxmivijaya/QueryExcelWithOllama/blob/main/QueryExcelWithOllamaPandasAILocalJupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
data = pd.read_csv(r"C:\Users\laxmi\Downloads\population.csv")
data.head()

         Country  Population
0  United States   339996563
1          China  1425671352
2        Germany    83294633
3         Turkey    85816199
4          Japan   123294513

In [19]:
from langchain_community.llms import Ollama
llm = Ollama(model="mistral")

In [20]:
from pandasai import SmartDataframe
df = SmartDataframe(data, config={"llm": llm})

In [17]:
df.chat('Which are top 5 countries by population?')

         Country  Population
8          India  1428627663
1          China  1425671352
0  United States   339996563
5      Indonesia   277534122
6       Pakistan   240485658

In [21]:
print(df.chat("What is the total populations of the top 5 countries by population?"))

3712315358